@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body{
  margin: 0;
  font-family: "Quicksand";
  font-size: 1.5 em;
  text-align: center;
  background: #c2d6d6;
  color: #006666;
}
